<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true" style="background-color: black">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chỉnh sửa thông tin cá nhân</ion-title>
    <div class="toolbar-border"></div>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="personal-content"
  style="background-color: #2b2b2b"
>
  <div class="personal-container">
    <!-- Phần avatar và nút máy ảnh -->
    <div class="avatar-container">
      <img src="/assets/userpageimg/avt.jpg" alt="Avatar" class="avatar" />
      <ion-icon name="camera" class="camera-icon"></ion-icon>
    </div>

    <div class="input-container">
      <label class="input-label">Họ và tên</label>
      <div class="input-wrapper">
        <ion-input placeholder="Nhập họ và tên"></ion-input>
        <ion-icon name="pencil" class="edit-icon"></ion-icon>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Số điện thoại</label>
      <div class="input-wrapper">
        <ion-input placeholder="Nhập số điện thoại"></ion-input>
        <ion-icon name="pencil" class="edit-icon"></ion-icon>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Email</label>
      <div class="input-wrapper">
        <ion-input placeholder="Nhập email"></ion-input>
        <ion-icon name="pencil" class="edit-icon"></ion-icon>
      </div>
    </div>

    <div class="input-container">
      <label class="input-label">Địa chỉ</label>
      <div class="input-wrapper">
        <ion-input placeholder="Nhập địa chỉ"></ion-input>
        <ion-icon name="pencil" class="edit-icon"></ion-icon>
      </div>
    </div>

    <ion-button expand="block" class="save-button">Lưu</ion-button>
  </div>
</ion-content>
