<ion-header>
  <ion-toolbar>
    <ion-title>order-bill-details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-button fill="clear" (click)="gotoPreviousPage()">
      <ion-icon name="arrow-back-outline"></ion-icon> Quay lại
    </ion-button>
    <hr />
    <img [src]="dishDetails?.imageUrl" />
    <h1>{{dishDetails?.name}}</h1>
    <hr />
    <h2>Mô tả</h2>
    <p>{{dishDetails?.description}}</p>
    <hr />
    <div class="form-container">
      <ion-list>
        <ion-item *ngFor="let option of dishDetails?.options">
          <div>
            <ion-checkbox
              slot="start"
              (ionChange)="toggleOption(option)"
              [checked]="isOptionSelected(option)"
              class="custom-checkbox"
            ></ion-checkbox>
            <ion-label
              ><p>{{ option.name }}</p>
              <p>{{ option.price | number: '1.0-0' }} đ</p></ion-label
            >
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="container">
    <h2>Thêm ghi chú</h2>
    <hr />
    <ion-input
      [(ngModel)]="note"
      placeholder="Vui lòng nhập ghi chú của bạn tại đây"
    ></ion-input>
    <p class="sub-note">
      Việc thực hiện yêu cầu còn tùy thuộc vào khả năng của quán
    </p>
  </div>

  <div class="increase-container">
    <ion-button shape="round" size="small" class="add-btn" (click)="reduce()"
      ><ion-icon slot="icon-only" name="remove-outline"></ion-icon></ion-button
    >{{totalOrder}}
    <ion-button shape="round" size="small" class="add-btn" (click)="increase()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>
  <ion-button
    class="submit-button"
    expand="block"
    (click)="onSubmit()"
    *ngIf="
    dishDefault!==null"
    [ngClass]="{
    'normal': totalOrder > 0,
    'empty': totalOrder === 0
  }"
  >
    {{ totalOrder > 0 ? 'Xác nhận chỉnh sửa món' : totalOrder < 0 ? 'Số lượng \\
    không hợp lệ' : 'Hủy đặt món này' }}
  </ion-button>
  <ion-button
    class="submit-button"
    expand="block"
    (click)="onSubmit()"
    *ngIf="
    dishDefault===null"
    [disabled]="totalOrder===0"
    >Thêm vào giỏ hàng
  </ion-button>
</ion-content>
