<ion-tab-bar slot="top">
  <ion-tab-button
    [ngClass]="{ 'special-tab': selectedIndex === 0 }"
    (click)="gotoNextPage('home')"
  >
    <ion-icon name="home"></ion-icon>
    <ion-label>Trang chủ</ion-label>
  </ion-tab-button>
  <ion-tab-button
    [ngClass]="{ 'special-tab': selectedIndex === 1 }"
    (click)="gotoNextPage('reservation')"
  >
    <ion-icon name="calendar-clear-outline"></ion-icon>
    <ion-label>Đặt bàn</ion-label>
  </ion-tab-button>
  <ion-tab-button
    [ngClass]="{ 'special-tab': selectedIndex === 2 }"
    (click)="gotoNextPage('order-main')"
  >
    <ion-icon name="fast-food-outline"></ion-icon>
    <ion-label>Đặt món</ion-label>
  </ion-tab-button>
  <ion-tab-button
    [ngClass]="{ 'special-tab': selectedIndex === 3 }"
    (click)="gotoNextPage('user-history')"
  >
    <ion-icon name="receipt-outline"></ion-icon>
    <ion-label>Lịch sử</ion-label>
  </ion-tab-button>
  <ion-tab-button
    [ngClass]="{ 'special-tab': selectedIndex === 4 }"
    (click)="gotoNextPage('user-info-editing')"
  >
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Tài khoản</ion-label>
  </ion-tab-button>
</ion-tab-bar>
