ion-tab-bar {
  height: 3rem;
  border-top: 1px solid var(--green-primary);
  background-color: var(--black-primary);
}
ion-tab-button {
  background-color: var(--black-primary);
  color: white;
  --color-selected: var(--green-primary);
}
ion-tab-button.tab-selected {
  background-color: #f0f0f0; /* Background color of the selected tab */
  color: #3880ff; /* Text color of the selected tab */
}

.special-tab {
  color: var(--green-primary);
}
