<ion-header>
  <app-navbar class="navbar"></app-navbar>
</ion-header>

<ion-header [translucent]="true" style="background-color: black">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Trang cá nhân</ion-title>
    <div class="toolbar-border"></div>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="personal-content"
  style="background-color: #2b2b2b"
>
  <div class="personal-container">
    <div class="avatar-container">
      <img src="{{ user?.avatarUrl || '/assets/userpageimg/default-avt.jpg' }}" alt="Avatar" class="avatar" />
      <ion-icon name="camera" class="camera-icon"></ion-icon>
    </div>

    <h2 class="text-white">{{ user?.name || 'Tên người dùng' }}</h2>
    <h4 [ngClass]="getRankClass(user?.score)">Rank: {{ getRank(user?.score) }}</h4>
    <p class="text-white">Email: {{ user?.email || 'user@example.com' }}</p>
    <p class="text-white">Điểm: {{ user?.score || 0 }}</p>

    <div class="buttons-container">
      <ion-button class="custom-button" (click)="goToVoucher()">
        <span>Voucher</span> <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
      <ion-button class="custom-button" (click)="goToOrderHistory()">
        <span>Lịch sử đơn hàng</span>
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
      <ion-button class="custom-button" (click)="goToEditInfo()">
        <span>Chỉnh sửa thông tin cá nhân</span>
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </div>
    <ion-button class="logout-button" (click)="logout()">Thoát</ion-button>
  </div>
</ion-content>
