.container {
  background-color: var(--second-color);
  // width: 100%;
  // height: 1000px;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.back-button {
  color: var(--white-primary);
  font-size: 20px;
  justify-content: start;
  text-transform: initial;

  ion-icon {
    margin-right: 1rem;
    color: var(--white-primary);
  }
}

ion-content {
  // --background:white;
  color: var(--white-primary);
}

hr {
  border-top: 1px solid var(--green-primary);
}
.user-address {
  div {
    p {
      display: flex;
      justify-content: start;
    }
  }
}
ion-button {
  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    align-items: center;
  }

  --padding-start: 0px;
  --padding-end: 0px;
  color: white;
  text-transform: initial;
  margin-inline-start: 0px;

  ion-icon {
    font-size: 2rem;
    font-weight: bold;
    color: var(--green-primary);
  }
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--white-primary);
}

.addorder-row {
  display: flex;
  flex-direction: row;
  align-items: self-end;
  justify-content: space-between;
  width: 100%;

  ion-button {
    color: var(--green-primary);
  }
}

ion-list {
  background-color: transparent;
}

.total-price {
  color: var(--white-primary);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;

  p {
    margin-bottom: 0px;
  }
}

.price {
  font-weight: bold;
}

.credit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: start;

    ion-icon {
      color: var(--green-primary);
      padding-right: 1rem;
    }
  }
  img {
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }
}

.end-total-price {
  //margin: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 

  p {
    margin: 0;
    font-weight: bold;
  }
}

.submit-button {
  --background: var(--green-primary);
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1rem 0 1rem;
}
.coupon-container {
  div {
    display: flex;
    flex-direction: row;
    ion-button {
      margin: 0;
      padding: 0 0 0 1rem;
      --background: var(--green-primary);

      height: 100%;
      border-radius: 0.5rem;
      --padding-start: 1rem;
      --padding-end: 1rem;
      --padding-top: 1rem;
      --padding-bottom: 1rem;
    }
  }
  p {
    margin: 0;
  }
}
input {
  // width: 100%;
  flex: 1;
  background-color: var(--third-color);
  caret-color: var(--green-primary);
  color: var(--white-primary);
  font-size: 14px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
}
.voucher {
  color: var(--green-primary);
}
.note-address-input {
  width: 100%;
}
