<ion-card>
  <div class="sub-container"></div>
  <img class="custom-image" [src]="dish?.imageUrl" alt="" />
  <div class="main-container">
    <ion-card-header>
      <ion-card-title>{{ dish?.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="description">
      {{ dish?.description }}
    </ion-card-content>

    <ion-card-subtitle>
      <ion-row class="margin-row">
        <ion-col class="ion-align-self-center">
          <p>{{ dish?.price | number : "1.0-0" }}đ</p>
          <!-- <p
            [ngClass]="{
              'positive-order': dish?.total ?? 0 > 0,
              'transparent-order': dish?.total ?? 0 === 0
            }"
          >
            Đã chọn {{ dish?.total ?? 0 }}
          </p> -->
        </ion-col>

        <ion-col class="col-button">
          <ion-button
            (click)="openOrderDishDetailsPage()"
            shape="round"
            size="small"
            class="add-btn"
          >
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-subtitle>
  </div>
</ion-card>
