<!-- src/app/reservation-test/reservation-test.component.html -->

<div>
  <h1>reservation Test</h1>

  <h2>All reservations</h2>
  <ul>
    <li *ngFor="let reservation of reservations">
      {{ reservation.numberOfPeople }} ({{ reservation.reservationTime }}) {{ reservation.depositAmount }}
    </li>
  </ul>

  <h2>Get reservation by ID</h2>
  <input [(ngModel)]="ReservationId" placeholder="Enter reservation ID" />
  <button (click)="getReservationById()">Get by ID</button>

  <h2>Create New reservation</h2>
  <input [(ngModel)]="newReservation.tableId" placeholder="table id" />
  <input [(ngModel)]="newReservation.numberOfPeople" placeholder="number Of People" />
  <button (click)="createReservation()">Create reservation</button>

  <h2>Update reservation</h2>
  <input
    [(ngModel)]="ReservationId"
    placeholder="Enter reservation ID to Update"
  />
  <button (click)="updateReservation()">Update reservation</button>

  <h2>Delete reservation</h2>
  <input
    [(ngModel)]="ReservationId"
    placeholder="Enter reservation ID to Delete"
  />
  <button (click)="deleteReservation()">Delete reservation</button>
</div>
