<ion-card>
  <div class="lef-content">
    <img [src]="dish?.imageUrl" />
    <div class="text">
      <ion-title>{{ dish?.name }}</ion-title>

      <ion-card-subtitle class="options" *ngFor="let option of dish?.options">
        <p>
          {{ option.name }}
        </p>
        <p>+{{ option.price | number : "1.0-0" }} đ</p>
      </ion-card-subtitle>
      <ion-card-subtitle class="options">
        <p *ngIf="dish?.note !== ''">Ghi chú: {{ dish?.note }}</p>
      </ion-card-subtitle>
      <div class="sub-title">
        <ion-card-subtitle>Đã chọn {{ dish?.total }}</ion-card-subtitle
        ><ion-button
          *ngIf="enableEdit === true"
          size="small"
          fill="clear"
          (click)="editDish()"
          >Chỉnh sửa</ion-button
        >
        <ion-button size="small" fill="clear" [disabled]="true"></ion-button>
      </div>
    </div>
  </div>
  <p>{{ calculateDishPrice() | number : "1.0-0" }}đ</p>
</ion-card>
