<app-header [route]="'home'"></app-header>
<ion-content>
  <ion-grid class="main-body">
    <ion-col>
      <app-banner-promo></app-banner-promo>
      <p class="map-title">SƠ ĐỒ <span>NHÀ HÀNG</span></p>
      <ion-row class="divider"></ion-row>
      <ion-card class="restaurant-map">
        <ion-img
          class="map-image"
          [src]="selectedFloor?.floorDiagram"
          alt="Selected map"
        ></ion-img>
        <ion-select
          class="map-button"
          label="Sảnh"
          [placeholder]="selectedFloor?.floorName"
          (ionChange)="onFloorChange($event)"
        >
          <ion-select-option *ngFor="let map of floors" [value]="map.floorId">
            {{ map.floorName }}
          </ion-select-option>
        </ion-select>
      </ion-card>

      <ion-row>
        <p *ngIf="selectedTable?.description" class="description">{{selectedTable?.description}}</p>
      </ion-row>

      <ion-row class="selectionContainer">
        <ion-col>
          <!-- First row with two selection items -->
          <ion-row>
            <ion-col size="6">
              <ion-item class="selectionItem">
                <ion-select
                  label="Mã bàn"
                  (ionChange)="onTableChange($event)"
                >
                  <ion-select-option
                    *ngFor="let table of tables"
                    [value]="table.tableId"
                  >
                    {{ table.tableId }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item class="selectionItem" >
              <span *ngIf="selectedTable?.availableSeats">Số người: {{( selectedTable?.availableSeats) }}</span> 
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Second row with date selector -->
          <ion-row>
            <ion-col size="6">
              <ion-item class="selectionItem">
                <ion-select
                  label="Chọn ngày"
                  (ionChange)="onDateChange($event)"
                  [disabled]="availableDates.length === 0"
                >
                  <ion-select-option
                    *ngFor="let date of availableDates"
                    [value]="date"
                    >{{ convertDateFormat(date) }}</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="selectionItem">
                <ion-select
                  (ionChange)="onTimeChange($event)"
                  [disabled]="availableTimes.length === 0"
                  label="Chọn giờ"
                  [(ngModel)]="selectedTime"
                >
                  <ion-select-option
                    *ngFor="let time of availableTimes"
                    [value]="time"
                  >
                    {{ time }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- Note field below selectionContainer -->
      <ion-row>
        <ion-item class="noteField">
          <ion-textarea
            placeholder="Ghi chú cho nhà hàng..."
            [(ngModel)]="note"
          ></ion-textarea>
        </ion-item>
      </ion-row>

      <ion-row class="customerInfor">
        <ion-text class="inforTitle">Họ và tên</ion-text>
        <ion-textarea
          class="inforInput"
          [(ngModel)]="customerName"
        ></ion-textarea>
      </ion-row>

      <ion-row class="customerInfor">
        <ion-text class="inforTitle">Số điện thoại</ion-text>
        <ion-textarea
          class="inforInput"
          [(ngModel)]="customerPhone"
        ></ion-textarea>
      </ion-row>

      <ion-row class="customerInfor">
        <ion-text class="inforTitle">Email</ion-text>
        <ion-textarea
          class="inforInput"
          [(ngModel)]="customerEmail"
        ></ion-textarea>
      </ion-row>

      <ion-row class="divider"></ion-row>
      <ion-row class="policyCheck">
        <ion-checkbox [(ngModel)]="confirmationEmailSent" labelPlacement="end">
        <ion-label>thông báo về các ưu đãi của chúng tôi</ion-label> 
        </ion-checkbox>
      </ion-row>
      <ion-row class="policy-section">
        <ion-col>
          <ion-text> Chính sách hủy bàn: </ion-text>
        </ion-col>
        <ion-col size="8">
          <ion-text>
            Trong trường hợp bạn cần hủy hay thay đổi, xin vui lòng thông báo ít
            nhất 24 giờ trước giờ hẹn.
          </ion-text>
        </ion-col>
        <p class="policy-note">
          Sau khi đến hạn đặt, bàn của bạn chỉ có thể giữ trong thời gian 15
          phút nếu quá thời gian quy định nhà hàng xin hủy bàn của bạn.
        </p>
      </ion-row>

      <ion-row class="divider"></ion-row>

      <ion-row>
        <ion-col size="7">
          <ion-button
            class="bigButt"
            fill="clear"
            expand="block"
            (click)="placeOrder()"
            >Đặt món</ion-button
          >
        </ion-col>
        <ion-col size="5">
          <ion-button
            class="smallButt"
            fill="clear"
            expand="block"
            (click)="submitReservation()"
            >Xác nhận</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>

<!--



  <ion-row>
    <ion-col>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Nhận mail thông báo về các ưu đãi của chúng tôi</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-title>Chính sách hủy bàn:</ion-title>
      <p class="policy-text">
        Trong trường hợp bạn cần hủy hay thay đổi, xin vui lòng thông báo ít nhất 24 giờ trước giờ hẹn.
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p class="policy-note">
        Sau khi đến hạn đặt, bàn của bạn chỉ có thể giữ trong thời gian 15 phút nếu quá thời gian quy định nhà hàng xin hủy bàn của bạn.
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item-divider color="danger"></ion-item-divider>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="outline">Đặt món</ion-button>
      <ion-button expand="block">Xác nhận</ion-button>
    </ion-col>
  </ion-row> -->
