<ion-content>
  <div class="login-notification" *ngIf="showLoginNotification">
    <div class="notification-content">
      <h4 style="margin-bottom: 15px">Hãy đăng nhập để nhận ưu đãi</h4>
      <div (click)="goToLogin()" class="login-button">Đăng nhập</div>
      <ion-icon
        name="close"
        class="close-icon"
        (click)="closeNotification()"
      ></ion-icon>
    </div>
  </div>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <!-- Cột chứa hình ảnh -->
      <ion-col class="image-container">
        <img
          src="/assets/homepageimg/vec7.svg"
          alt="Mô tả hình ảnh"
          class="svg-image"
        />
        <img
          src="/assets/homepageimg/bgo.png"
          alt="Mô tả hình chồng"
          class="overlay-image"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Phần chữ và nút -->
  <div class="content-wrapper">
    <div class="text-content">
      <h1>
        Độc lập tự do <br />
        Ăn no gòy ngủ!
      </h1>
      <h4>Giòn tan, thơm lừng, ngon tuyệt!</h4>
    </div>
    <div class="button-container" (click)="goToOrder()">
      <div class="ship-icon-container">
        <img src="/assets/homepageimg/shipicon.png" alt="Ship Icon" />
      </div>
      <ion-button size="large" class="action-button order-button">
        <span>Đặt món</span>
        <ion-icon
          name="chevron-forward-outline"
          style="background-color: #14c458"
        ></ion-icon>
      </ion-button>
    </div>

    <div class="button-container" (click)="goToReservation()">
      <div class="store-icon-container">
        <img src="/assets/homepageimg/storeicon.png" alt="Store Icon" />
      </div>
      <ion-button size="large" class="action-button table-button">
        <span>Đặt bàn</span>
        <ion-icon
          name="chevron-forward-outline"
          style="background-color: #2b2b2b"
        ></ion-icon>
      </ion-button>
    </div>
  </div>
  <app-banner-promo></app-banner-promo>
  <div class="spectial-content">
    <h5>- NHỮNG MÓN ĂN ĐẶC BIỆT -</h5>
    <p>
      Mỗi món ăn tại quán chúng tôi đều được chế biến từ những nguyên liệu tươi
      ngon nhất.
    </p>
  </div>
  <div class="boder">
    <swiper-container
      [slidesPerView]="1"
      [loop]="true"
      pagination="{type:'bullet'}"
      effect="block"
    >
      <swiper-slide>
        <img src="/assets/homepageimg/met.png" alt="Image 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="/assets/homepageimg/2.png" alt="Image 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="/assets/homepageimg/4.png" alt="Image 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="/assets/homepageimg/5.png" alt="Image 1" />
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="image-row">
    <img
      src="/assets/homepageimg/f3.png"
      alt="Image 1"
      class="horizontal-image"
    />
    <img
      src="/assets/homepageimg/f4.png"
      alt="Image 2"
      class="horizontal-image"
    />
  </div>
  <div class="spectial-content">
    <h5>- NHÀ HÀNG CỦA CHÚNG TÔI -</h5>
    <p>
      Ánh sáng dịu nhẹ từ đèn treo cùng cách bố trí nội thất chu đáo mang đến
      bầu không khí ấm cúng, lý tưởng.
    </p>
  </div>
  <div class="boder-sketch">
    <swiper-container
      [slidesPerView]="1"
      [loop]="true"
      pagination="{type:'bullet'}"
      effect="block"
    >
      <swiper-slide>
        <img src="/assets/homepageimg/res1.png" alt="Image 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="/assets/homepageimg/res3.png" alt="Image 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="/assets/homepageimg/res4.png" alt="Image 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="/assets/homepageimg/res2.png" alt="Image 1" />
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="spectial-content">
    <h5 style="margin-top: 20px">- VỀ CHÚNG TÔI -</h5>
  </div>
  <div class="chefbanner">
    <img src="/assets/homepageimg/asiachef.png" alt="Image 1" />
  </div>
  <div class="aboutus-content">
    <p class="bold-text" style="margin-bottom: 5px; margin-top: 10px">
      Những nghệ nhân của sự đam mê sáng tạo.
    </p>
    <p>
      Tỉ mỉ trong từng khâu chuẩn bị, chọn lựa nguyên liệu tươi ngon nhất, và
      kết hợp hương vị tạo ra những món ăn độc đáo.
    </p>

    <!-- Đường phân cách -->
    <div class="divider"></div>

    <p class="bold-text" style="margin-bottom: 5px">
      Thương hiệu tuyệt vời khẳng định đẳng cấp.
    </p>
    <p>
      Sự sáng tạo không ngừng và chú trọng đến từng chi tiết nhỏ đã giúp thương
      hiệu này xây dựng lòng tin và sự yêu mến từ khách hàng.
    </p>
  </div>

  <div class="spectial-content">
    <h5>- BÌNH LUẬN CỦA KHÁCH HÀNG -</h5>
  </div>
  <swiper-container
    slides-per-view="1.25"
    loop="true"
    [keyboard]="{ enabled: true, onlyInViewport: true, pageUpDown: true }"
    class="mySwiper"
  >
    <swiper-slide
      style="margin-right: 10px; margin-left: 10px"
      *ngFor="let review of reviews"
    >
      <ion-card>
        <ion-card-header style="padding-bottom: 0px">
          <ion-card-title>
            <ion-icon
              name="logo-wechat"
              class="custom-icon red-border"
            ></ion-icon>
            <span
              class="rating"
              style="padding-top: 3px; justify-content: center"
            >
              <ng-container *ngFor="let star of stars; let i = index">
                <ion-icon
                  [name]="i < review.rating ? 'star' : 'star-outline'"
                  class="star-icon"
                  style="color: gold"
                ></ion-icon>
              </ng-container>
            </span>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          "{{ review.comment }}"
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <!-- Phần bình luận của người dùng -->
  <div *ngIf="canReview()">
    <ion-card
      style="margin: 0; height: 100%; padding: 10px; background-color: #2b2b2b"
    >
      <ion-card-header>
        <h5
          style="
            font-size: 18px;
            font-weight: bold;
            color: white;
            text-align: center;
          "
        >
          - Viết đánh giá của bạn -
        </h5>
      </ion-card-header>
      <ion-card-content>
        <div
          class="star-rating"
          style="
            display: flex;
            gap: 5px;
            justify-content: center;
            margin-bottom: 10px;
          "
        >
          <ion-icon
            *ngFor="let star of stars; let i = index"
            [name]="i < newReview.rating ? 'star' : 'star-outline'"
            (click)="setRating(i + 1)"
            class="star-icon"
            style="color: gold; font-size: 24px"
          ></ion-icon>
        </div>
        <ion-textarea
          [(ngModel)]="newReview.comment"
          placeholder="Nhập bình luận của bạn"
          style="
            width: 100%;
            height: 100px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #cccccc;
            font-size: 14px;
            outline: none;
            resize: none;
            margin-bottom: 10px;
            color: white;
          "
        ></ion-textarea>
        <ion-button
          expand="block"
          (click)="submitReview()"
          style="
            padding: 10px 0;
            --background: #14c458;
            border-radius: 8px;
            color: white;
            font-size: 16px;
            cursor: pointer;
          "
        >
          Gửi
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Nếu không có quyền review -->
  <div *ngIf="!canReview()">
    <p style="text-align: center; margin-bottom: 5%">
      Hãy trải nghiệm dịch vụ rùi góp ý cho chúng mình nhé
      <ion-icon name="heart-outline"></ion-icon>
    </p>
  </div>
</ion-content>
<ion-footer>
  <app-navbar class="navbar"></app-navbar>
</ion-footer>
