<ion-card class="promotion-banner">
  <swiper-container
  [slidesPerView]="1"
  [loop]="true"
  pagination="{type:'bullet'}"
  effect="block"
    class="swiper"
  >
    <swiper-slide *ngFor="let promo of promos" class="promo-slide">
      <ion-img
        [src]="promo.imgURL"
        class="promo-image"
      ></ion-img>
      <div class="content-card">

          <p class="promo-text">Nhận ngay</p>
          <ion-card-title class="promo-highlight">{{
            promo.discountAmount
          }}%</ion-card-title>
          <p class="promo-description">{{ promo.description }}</p>
      
        </div>
    </swiper-slide>
  </swiper-container>
</ion-card>