<ion-header>
  <ion-toolbar>
    <ion-title>order-bill-add-payment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-button fill="clear" class="back-button" (click)="gotoPreviousPage()">
      <ion-icon name="arrow-back-outline"></ion-icon> Thêm thẻ
    </ion-button>
    <hr />
    <div class="input-container">
      <h2>Số thẻ</h2>
      <div class="input-with-icon">
        <ion-icon name="card-outline"></ion-icon
        ><input
          placeholder="Số thẻ"
          type="text"
          maxlength="16"
          (input)="formatCreditNumber($event)"
          [(ngModel)]="creditNumber"
        />
      </div>
    </div>
    <div class="row-container">
      <div class="date-input">
        <h2>Ngày hết hạn</h2>
        <div class="input-with-icon">
          <input
            id="monthYearInput"
            type="text"
            placeholder="MM/YY"
            maxlength="5"
            (input)="formatMMYY($event)"
            [(ngModel)]="monthYear"
          />
        </div>
      </div>
      <div>
        <h2>CVV</h2>
        <div class="input-with-icon">
          <input
            placeholder="CVV"
            type="number"
            maxlength="3"
            id="CvvInput"
            (input)="formatCvv($event)"
            [(ngModel)]="Vcc"
          />
        </div>
      </div>
    </div>
    <div class="safe-text">
      <ion-icon name="shield-checkmark-outline"></ion-icon>Thông tin thẻ của bạn
      sẽ dược lưu một cách bảo mật
    </div>
    <p class="sub-save-text">
      Thẻ của bạn cần có một khoản tiền nhỏ để đảm bảo thẻ hợp lệ và vẫn hoạt
      động. Số tiền đó sẽ được tự động hoàn lại thẻ của bạn sau đó. Bằng cách
      thêm thẻ, bạn đã đọc và đồng ý với <a>điều khoản điều kiện</a> của chúng
      tôi.
    </p>
    <hr />
    <h2>Hoặc liên kết Momo</h2>

    <ion-button expand="block" class="add-bnt" (click)="linkMomo()">
      <div class="credit-container">
        <div>
          <img src="/assets/images/momo.png" />
          <p>Momo</p>
        </div>
      </div>
    </ion-button>
  </div>
  <ion-button class="submit-button" expand="block" (click)="onSubmit()"
    >Liên kết
  </ion-button>
</ion-content>
