<ion-header>
  <ion-toolbar>
    <ion-title>order-bill-details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-button fill="clear" class="back-button">
      <ion-icon name="arrow-back-outline"></ion-icon> Quay lại
    </ion-button>
    <hr />
    <h2>Các phương thức được liên kết</h2>
    <ion-button expand="block" class="add-bnt">
      <div class="credit-container">
        <div>
          <ion-icon name="cash-outline"></ion-icon>
          <p>Tiền mặt</p>
        </div>
        <ion-icon name="checkmark-outline"></ion-icon>
      </div>
    </ion-button>
    <h2>Thêm các phương thức khác</h2>
    <ion-button expand="block" class="add-bnt">
      <div class="credit-container">
        <div>
          <ion-icon name="card-outline"></ion-icon>
          <p>Thẻ</p>
        </div>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-button>
    <ion-button expand="block" class="add-bnt">
      <div class="credit-container">
        <div>
          <img src="/assets/images/momo.png" />
          <p>Momo</p>
        </div>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-button>
  </div>
</ion-content>
