<app-header [route]="'order-bill-details'"></app-header>
<ion-content>
  <div class="container">
    
    <h2>Các phương thức được liên kết</h2>

    <ion-button
      expand="block"
      class="add-bnt"
      (click)="changePaymentMethod('COD')"
    >
      <div class="credit-container">
        <div>
          <ion-icon name="cash-outline"></ion-icon>
          <p>Tiền mặt</p>
        </div>
        <ion-icon
          *ngIf="creditText === 'COD'"
          name="checkmark-outline"
        ></ion-icon>
      </div>
    </ion-button>
    <ion-button
      expand="block"
      class="add-bnt"
      *ngIf="user?.paymentMethods?.eWallet"
      (click)="changePaymentMethod(user?.paymentMethods?.eWallet)"
    >
      <div class="credit-container">
        <div>
          <img src="/assets/images/momo.png" />
          <p>Momo</p>
        </div>
        <ion-icon
          *ngIf="creditText === 'Momo'"
          name="checkmark-outline"
        ></ion-icon>
      </div>
    </ion-button>
    <ion-button
      expand="block"
      class="add-bnt"
      *ngIf="user?.paymentMethods?.creditCard"
      (click)="changePaymentMethod(user?.paymentMethods?.creditCard?.cardNumber)"
    >
      <div class="credit-container">
        <div>
          <ion-icon name="cash-outline"></ion-icon>
          <p>{{ maskNumber(user?.paymentMethods?.creditCard?.cardNumber) }}</p>
        </div>
        <ion-icon
          *ngIf="creditText !== 'Momo'&&creditText !== 'COD'"
          name="checkmark-outline"
        ></ion-icon>
      </div>
    </ion-button>

    <h2>Thêm các phương thức khác</h2>
    <ion-button
      expand="block"
      class="add-bnt"
      (click)="gotoOrderAddPaymentPage()"
    >
      <div class="credit-container">
        <div>
          <ion-icon name="card-outline"></ion-icon>
          <p>Thẻ</p>
        </div>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-button>
    <ion-button
      expand="block"
      class="add-bnt"
      *ngIf="!user?.paymentMethods?.eWallet"
      (click)="momoSubmit()"
    >
      <div class="credit-container">
        <div>
          <img src="/assets/images/momo.png" />
          <p>Momo</p>
        </div>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-button>
  </div>
</ion-content>
