<ion-header>
  <ion-toolbar style="--background: #2b2b2b;">
    <ion-title style="color: #14C458;">Chi tiết đơn hàng</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="close-button">Đóng</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="order-details-content">
  <div class="order-details-container">
    <ion-list class="order-details-list">
      <ion-item class="order-item">
        <ion-label>
          <h2>
            <ion-icon name="location" style="color: #14C458;"></ion-icon>
            Địa chỉ:
          </h2>
          <p>{{ address }}</p>
        </ion-label>
      </ion-item>

      <div class="divider-container">
        <div class="divider"></div>
      </div>

      <ion-item *ngFor="let item of orderItems" class="order-item">
        <ion-label>
          <div class="order-item-content">
            <div class="quantity-box">{{ item.quantity }}x</div>
            <h3 style="margin-left: 0.5rem;">{{ item.dishID }}</h3>
            <div class="total-price">{{ item.total | number : '1.0-0' }}đ</div>
          </div>
          
        </ion-label>
      
      </ion-item>
      <div class="divider-container">
        <div class="divider"></div>
      </div>

      <ion-item class="order-item">
        <ion-label>
          <h2>Thời gian đặt:</h2>
          <p>{{ orderTime | date: 'short' }}</p>
        </ion-label>
      </ion-item>
      <div class="divider-container">
        <div class="divider"></div>
      </div>

      <ion-item class="order-item">
        <ion-label>
          <div class="order-item-content">
            <h2>Phương thức thanh toán:</h2>
            <div class="total-price">{{ paymentMethod }}</div>
          </div>
        </ion-label>
      </ion-item>
      <div class="divider-container">
        <div class="divider"></div>
      </div>
      <ion-item class="order-item">
        <ion-label>
          <h2>Thời gian nhận hàng:</h2>
          <p>{{ pickupTime | date: 'short' }}</p>
        </ion-label>
      </ion-item>
      <div class="divider-container">
        <div class="divider"></div>
      </div>

      <ion-item class="order-item">
        <ion-label>
          <div class="order-item-content">
            <h2>Tổng hóa đơn:</h2>
            <div class="total-price">{{ totalBill | number : '1.0-0' }}đ</div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <ion-button class="contact-button" expand="full">
      Liên hệ với nhà hàng
    </ion-button>
  </div>
</ion-content>
